# Python artifacts
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# IDE specific
.vscode/

# Flask specific
instance/

src/.env